h1{
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(49, 49, 49);
    border-radius: 10px;
    color:white;
    
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    vertical-align: text-top;
}
#left-panel{
    height:100vh;
}

#right-panel-top{
    border: grey solid 2px;
    border-radius: 10px;
    height: 25vh;
}

#right-panel-bottom{
    border: grey solid 2px;
    border-radius: 10px;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dailyForecast{
    border: grey solid 2px;
    border-radius: 5px;
    width:150px;
    float:left;
    margin: 0px 5px 0px 5px;
    background-color: rgb(55, 55, 168);
    color:white;
    padding: 5px;
    font-weight: bold;
}

.conditionIcon{
    height:40px;
    width:40px;
}